[Unit]
Description=Nxserver Daemon
After=systemd-modules-load.service network-online.target check_eCM_connection.service
Requires=systemd-modules-load.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nexus_dfb
ExecStop=/bin/kill -9 $MAINPID
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
